{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container d-flex justify-content-right align-items-start vh-100 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <h2 class="card-title text-register-login">{% trans "Login" %}</h2>
                <p>{% blocktrans %}To leave a comment or like an article, please log in. If you haven't registered an account yet, please 
                    <a class="text-decoration-none text-register-login" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}
                </p>
            </div>
            <div class="mb-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-warning btn-login-register" type="submit">{% trans "Login" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
