{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<!--Signup page-->
<div class="container justify-content-right align-items-start mb-3 custom-container">
    <div class="card register-card">
        <div class="card-body">
            <div class="mb-3">
                <h2 class="card-title">{% trans "Register" %}</h2>

                <p>{% blocktrans %}Already have an account? Then please <a class="text-decoration-none text-register-login" href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>
            </div>
            <div class="mb-3">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-warning btn-login-register" type="submit">{% trans "Register" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
