@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo:wght@500&display=swap');

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #ececec;
}

/*Style logo image*/
nav.navbar img  {
    width: 190px;
    height: 40px;
}

/*Style text nav menu*/
.navbar-nav .nav-link {
    color: #00008B !important;
    font-weight: bolder;
}

.nav-item.nav-hover:hover {
    background-color: #aaebef;
    border-radius: 5px; 
    margin-left: 10px;
}

/*Style nabar for login and register*/
.navbar .nav-item.login-register {
    background-color: #aaebef;
    border-radius: 5px; 
    margin-left: 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: #00008B;
}

a {
    color: #00008B;
}

.landing-div {
    background-color: #aaebef;
}

/* Style About us section on the index page*/
.aboutus-container {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

.aboutus-paragraph {
    background-color: #ffffff;
    color: 	#000000;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

/*Style card product families*/
.card-product-family {
    background-color: #00008B;
    border-radius: 1%;
}

.title-prod-family {
    color: #ffffff;
}

/*Style landing image container from the news.html page */
.article-image-container {
    background-color: #00008B;
    min-height: 400px;
}

.pagination-span {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #00008B;
}

/*Style featured image from the singlearticle.html page */
.featured-image-container {
    background-color: #00008B;
    max-height: 500px;
}

.featured-image-container img {
    min-width: 100%;
    max-height: 500px;
}

/*Style modal singlearticle.html page*/
.modal-body {
    background-color: #00008B;
    font-weight: bolder;
    color:#ffffff;
}

.modal-content {
    background-color: #ececec;
}

/*Style login, logout and register page */
.btn-warning.btn-login-register {
    background-color: #aaebef;
    border-radius: 0.25rem;
    border: 2px solid #aaebef;
    color: #00008B;
    font-weight: bolder;
    font-size: large;
}

.text-register-login {
    color: #00008B;
    font-weight: bolder;
}

input[type=text], input[type=password] {
    border-radius: 0.25rem;
    border: 2px solid #7d8080;
}

/* Style for container on login, lgout, register 
   and on article results 
   on search and product by family page */
.custom-container {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Style register page */
.register-card{
    min-width: 70%;
}

/*Style font awesome icons and like button*/
.like-button {
    padding: 0%;
    background: none;
    border: none;
    margin-right: 5%;
}

i {
    font-size: 25px;
}

footer {
    height: 155px;
}

/* Media queries for device max-width 991px */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar .nav-item.login-register {
        margin-left: 0px;
        width: 100%;
        background-color: transparent;
        border: none;
    }

    .article-image-container {
        min-height: 300px;
    }
}

/* Style for landing image container from the news.html page on Surface Duo*/
@media (max-width: 540px) {

    .article-image-container {
        min-height: 250px;
    }
}

/* Style for landing image container from the news.html page on Samsung Galaxy S20 Ultra*/
@media (max-width: 412px) {

    .article-image-container {
        min-height: 170px;
    }
}

/* Style for Galaxy Fold*/
@media (max-width: 287px) {

    /* Style for logo image*/
    nav.navbar img {
        width: 150px;
        height: 30px;
    }

    h2, h3, h4, h5 {
        font-size: 20px;
    }

    /* Style pagination section from the news.html page */
    .pagination-span {
        font-size: 15px;
    }
}

