{% extends "base.html" %}

{% block content %}

<!--Landing image and title-->
<div class="container">
    <div class="row">
        <div class="col-md-6 p-o d-flex align-items-center">
             <!-- Title and Description -->
            <div class="text-center my-4"> 
                <h1>Welcome to Microsoft Licensing Capsule</h1>
                <p>Your source for the latest Microsoft Licensing News and Information</p>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <img src="https://res.cloudinary.com/dvplixxng/image/upload/v1695216770/jldor9uoklzgzhnwkqxm.jpg" class="img-fluid" alt="Illustration landing image">
        </div>
    </div>
</div>

<!--About us section-->
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>About us:</h2>
            <p>Our goal is simple: to keep you informed, inspired, and empowered with the most current news,
                insights, and updates about Microsoft licensing.</p>
            <p>Staying up to date in the ever-evolving Microsoft licensing world can be a challenge, that's why
                we're here to provide you with all the essential information you need.</p>
        </div>
    </div>
</section>

{%endblock%}