{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Landing image and title-->
<div class="container">
    <div class="row">
        <div class="col-md-6 landing-div p-0 d-flex align-items-center">
             <!-- Title and Description -->
            <div class="text-center my-4"> 
                <h1>Welcome to Microsoft Licensing Capsule</h1>
                <p>Your source for the latest Microsoft Licensing News and Information</p>
            </div>
        </div>
        <div class="col-md-6 p-0 d-flex align-items-stretch">
            <img src = "{% static 'images/illustration_landing_page.jpg' %}" class="img-fluid" alt="Illustration landing image">
        </div>
    </div>
</div>

<!--About us section-->
<section class="container aboutus-container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>About us:</h2>
            <p>Our goal is simple: to keep you informed, inspired, and empowered with the most current news,
                insights, and updates about Microsoft licensing.</p>
            <p>Staying up to date in the ever-evolving Microsoft licensing world can be a challenge, that's why
                we're here to provide you with all the essential information you need.</p>
        </div>
    </div>
</section>

<!-- Latest news section -->
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase">Latest news:</h2>

                        {% for Article in recent_articles %}

                        <a href="{% url 'singlearticle' Article.slug %}" class="text-decoration-none"><h3 class= "mt-4 ">{{ Article.title }}</h3> </a>
                        <span class="mb-1 text-muted">{{Article.created_on|date:"F d, Y" }} at {{ Article.created_on|date:"H:i" }} | {{ Article.author }}</span>
                        <p>{{ Article.excerpt|truncatewords:30 }}</p>

                        {% endfor %}
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body card-product-family">
                        <h5 class="card-title">Product Families:</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Microsoft 365</li>
                            <li class="list-group-item">Office 365</li>
                            <li class="list-group-item">Dynamics 365</li>
                            <li class="list-group-item">Microsoft Power Platform</li>
                            <li class="list-group-item">Microsoft Azure</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Most liked and commented articles-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="Illustration 1">
                    <div class="card-body">
                        <h5 class="card-title"> Title</h5>
                        <p class="card-text">Text here.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-brands fa-gratipay" style="color: #0074d9;"></i>
                            <i class="fa-solid fa-comment-dots" style="color: #0074d9;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="Illustration 2">
                    <div class="card-body">
                        <h5 class="card-title"> Title</h5>
                        <p class="card-text">Text here.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-brands fa-gratipay" style="color: #0074d9;"></i>
                            <i class="fa-solid fa-comment-dots" style="color: #0074d9;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}