{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Landing image and title-->
<div class="container">
    <div class="row">
        <div class="col-md-6 landing-div p-0 d-flex align-items-center">
             <!-- Title and Description -->
            <div class="text-center my-4"> 
                <h1>Welcome to Microsoft Licensing Capsule</h1>
                <p>Your source for the latest Microsoft Licensing News and Information</p>
            </div>
        </div>
        <div class="col-md-6 p-0 d-flex align-items-stretch">
            <img src = "{% static 'images/illustration_landing_page.jpg' %}" class="img-fluid" alt="Illustration landing image">
        </div>
    </div>
</div>

<!--About us section-->
<section class="container aboutus-container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class ="aboutus-paragraph">
                        <h2>About us:</h2>
                        <p>Our goal is simple: to keep you informed, inspired, and empowered with the most current news,
                            insights, and updates about Microsoft licensing.</p>
                        <p>Staying up to date in the ever-evolving Microsoft licensing world can be a challenge, that's why
                            we're here to provide you with all the essential information you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest news section -->
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase">Latest news:</h2>

                        {% for Article in recent_articles %}

                        <a href="{% url 'singlearticle' Article.slug %}" class="text-decoration-none"><h3 class= "mt-4 ">{{ Article.title }}</h3> </a>
                        <span class="mb-1 text-muted">{{Article.created_on|date:"F d, Y" }} at {{ Article.created_on|date:"H:i" }} | {{ Article.author }}</span>
                        <p>{{ Article.excerpt|truncatewords:30 }}</p>

                        {% endfor %}
                        
                    </div>
                </div>
            </div>

            <!--Product Family list-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body card-product-family">
                        <h5 class="card-title title-prod-family">Product Families:</h5>
                        <ul class="list-group">
                        {% for product in product_family %}

                            <li class="list-group-item list-unstyled"> <a href="{% url 'articlesbyproductfamily' %}?product_name__id__exact={{ product.id }}" class="text-decoration-none">{{ product.product_name }}</a></li>
        
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--Most liked and commented articles-->
    <div class="container mt-4 mb-4">
        <div class="row">
            
            {% for article in most_liked_articles %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://res.cloudinary.com/dvplixxng/image/upload/{{ article.featured_image }}" class="card-img-top" alt="Illustration 1">
                    <div class="card-body">
                        <a href="{% url 'singlearticle' article.slug %}" class="text-decoration-none">
                            <h5 class="card-title">{{ article.title }}</h5>
                        </a>
                         <p class="card-text">{{ article.excerpt }}</p>
                         <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-brands fa-gratipay" style="color: #0074d9;"></i> {{ article.likes_number }}
                            <i class="fa-solid fa-comment-dots" style="color: #0074d9;"></i> {{ article.comments.count }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            {% for article in most_commented_articles %}
            <div class="col-md-4 mb-4"> 
                <div class="card">
                    <img src="https://res.cloudinary.com/dvplixxng/image/upload/{{ article.featured_image }}" class="card-img-top" alt="Illustration 2">
                    <div class="card-body">
                        <a href="{% url 'singlearticle' article.slug %}" class="text-decoration-none">
                        <h5 class="card-title"> {{ article.title }}</h5>
                        </a>
                        <p class="card-text">{{ article.excerpt }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-brands fa-gratipay" style="color: #0074d9;"></i> {{ article.likes_number }}
                            <i class="fa-solid fa-comment-dots" style="color: #0074d9;"></i> {{ article.comments.count }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}