{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 article-image-container d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <img src="https://res.cloudinary.com/dvplixxng/image/upload/v1696266607/image_news_page_lysizh.png" class="img-fluid" alt="Landing Image">
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase">Latest news:</h2>
                        <h3>Article 1</h3>
                        <p>Content here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}