{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Search results Page-->
<section>
    <div class="container d-flex mt-4 mb-3 results-container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase">Article Search Results:</h2>
                        {% if search_articles %}
                            {% for article in search_articles %}

                            <h3 class="mt-4"><a href="{% url 'singlearticle' article.slug %}" class="text-decoration-none">{{ article.title }}</a></h3>
                            <span class="mb-1 text-muted">{{article.created_on|date:"F d, Y" }} at {{ article.created_on|date:"H:i" }} | {{ article.author }}</span>
                            <p>{{ article.excerpt|truncatewords:30 }}</p>

                            {% endfor %}
                        {% else %}
                            <p> No articles found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}