{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 article-image-container d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <img src="" class="img-fluid" alt="Landing Image">
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase"></h2>
                        

                        <h3 class= "mt-4">{{ Article.title }}</h3>
                        <span class="mb-1 text-muted">{{Article.created_on|date:"F d, Y" }} at {{ Article.created_on|date:"H:i" }} | {{ Article.author }}</span>
                        <p></p>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}