{% extends "base.html" %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 featured-image-container d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dvplixxng/image/upload/{{ article.featured_image }}" class="img-fluid" alt="{{ article.title }}">
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <!--Article title-->
                        <h2 class="text-uppercase">{{ article.title }}</h2>

                        <!--Article author and article creation date-->
                        <span class="mb-1 text-muted">{{article.created_on|date:"F d, Y" }} at {{ article.created_on|date:"H:i" }} | by {{ article.author }}</span>

                        <!--Article content-->
                        <p class="mt-4">{{ article.article_body | safe}}</p>
                        <div class="row">
                            <div class="col-1">
                                <strong class="d-flex justify-content-between align-items-center">
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'articlelike' article.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="article_id" value="{{ article.slug }}" class="btn btn-like like-button">
                                            <i class="fa-brands fa-gratipay" style="color: #0074d9;"></i>
                                        </button>
                                        {% else %}
                                        <button type="submit" name="article_id" value="{{ article.slug }}" class="btn btn-like like-button">
                                            <i class="fa-regular fa-heart" style="color: #0074d9;"></i>
                                        </button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <span class="text-secondary" onclick="showModal('')"><i class="fa-brands fa-gratipay like-button" style="color: #0074d9;"></i></span>
                                    {% endif %}
                                    <span class="text-secondary mr-2">{{ article.likes_number }}</span>
                                </strong>
                            </div>
                            <div class="col-1 ml-3">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary d-flex justify-content-between align-items-center">
                                    <i class="fa-solid fa-comment-dots" style="color: #0074d9;"></i>
                                    {{ total_comments}}
                                </strong>
                                {% endwith %}
                            </div>
                            <div id="login-modal" class="modal" tabindex="-1">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Login or Register</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>You must be logged in in order to add a like or a comment.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="closeModal()">Ok</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                        <p class="fw-bold mt-3">{{ comment.user }}
                            <span class="fw-bold"> {{comment.created_on}}</span> wrote: 
                        </p>
                        {{ comment.message | linebreaks }}
                        {% if comment.user == user %}
                            <button type="submit" class="btn btn-warning btn-lg mt-3"><a class="text-decoration-none" href="{% url 'editcomment' comment.id %}">Edit</a></button>
                            <a class="text-decoration-none" href="{% url 'confirmdeletecomment' comment.id %}"><button type="submit" class="btn btn-danger btn-lg mt-3">Delete</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="class-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-lg mt-3">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}